<p id="notice"><%= notice %></p>

<p>
  <strong>Occupation area:</strong>
  <%= @anamnesi.speciality_id %>
</p>

<%= link_to 'Edit', edit_anamnesi_path(@anamnesi) %> |
<%= link_to 'Back', anamnesis_path %>
